<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date] %highlight([%level]) [%logger{10} %file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="COLOR"/>
    </root>

    <logger name="ru.efreet.trading" level="DEBUG" />
    <logger name="ru.gustos.trading" level="DEBUG" />
    <logger name="com.webcerebrium.binance.datatype.BinanceEventKline" level="WARN" />
</configuration>
